<% provide(:title, 'New') %>
<h1>Create a new user</h1>

<%# Method to create or update the attributes of a model object %>
<%= form_for @user do |f| %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class:"form-control" %>

  <%= f.label :email, "Email" %>
  <%= f.email_field :email, class:"form-control" %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class:"form-control" %>

  <%= f.label :password_confirmation, "Password_confirmation" %>
  <%= f.password_field :password_confirmation, class:"form-control" %>
  
  <%= f.submit class:"btn btn-primary my-4 mx-auto d-block" %>
<% end %>
