<nav class="navbar border-bottom mb-2">
  <div class="container">
    <%= link_to 'Sample-App', root_path, class: "btn btn-secondary" %>
    <ul class="d-flex list-unstyled mb-0">
      <li><%= link_to 'About', about_path, class: "btn btn-secondary" %></li>
      <li>

        <div class="dropdown" data-toggle='tooltip' title='Your account links'>
          <%# face button to expand the dropdown %>
          <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
          Account
          </a>
          <div class="dropdown-menu">
            <%# dropdown menu links %>
            <%= link_to  "Profile", '#', class: "dropdown-item" %>
            <%= link_to  "Settings", '#', class: "dropdown-item" %>
            <%= link_to  "Logout", '#', class: "dropdown-item" %>
          </div>
        </div>

      </li>
    </ul>
  </div>
</nav>