<!DOCTYPE html>
<html>
  <head>
    <%# Option-easy, without method in app helper
    <title>Sample App<%= yield(:title) %><%#</title> %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head_defaults' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%# Flash hash has keys and values %>
      <% unless flash.empty? %>
        <div class="alert alert-<%= flash.keys[0] %>">
          <%= flash[flash.keys[0]]%>
        </div>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <div class="debug-container container">
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
